@use '@angular/material' as mat;

@include mat.core();

/*
    PALETA
  - Cor Primária (principal): #6641EA (Violeta)
  - Cor de Destaque (accent): #B080F4 (Lavanda)
  - Cor de Fundo: #F9BFFF (Lavanda bem claro)
  - Cor do Texto: Neutra (#333), para máxima legibilidade.
*/

$planner-primary-palette: mat.define-palette(mat.$deep-purple-palette, 500, 400, 700);
$planner-accent-palette: mat.define-palette(mat.$deep-purple-palette, 300, 200, 400);
$planner-warn-palette: mat.define-palette(mat.$red-palette, 500);

$planner-theme: mat.define-light-theme((
  color: (
    primary: $planner-primary-palette,
    accent: $planner-accent-palette,
    warn: $planner-warn-palette,
  )
));

@include mat.all-component-themes($planner-theme);


/* ===== ESTILOS GLOBAIS COM SUAS CORES ===== */

html, body {
  height: 100%;
  background-color: #e3ccf3;
  color: #333;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}