<h2 mat-dialog-title>Adicionar Nova Tarefa</h2>

<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #taskForm="ngForm" class="task-form">
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput name="titulo" [(ngModel)]="newTask.titulo" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput name="descricao" [(ngModel)]="newTask.descricao">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!taskForm.form.valid" (click)="onSubmit()">Salvar</button>
</mat-dialog-actions>