<h2 mat-dialog-title>
  {{ isEditMode ? 'Editar Tarefa' : 'Adicionar Nova Tarefa' }}
</h2>

<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #taskForm="ngForm" class="task-form">

    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput name="titulo" [(ngModel)]="newTask.titulo" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput name="descricao" [(ngModel)]="newTask.descricao">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data inicial</mat-label>
      <input
        matInput
        [matDatepicker]="startPicker"
        [(ngModel)]="startDate"
        name="startDate"
        required>
      <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="includeTime" appearance="outline">
      <mat-label>Hora inicial</mat-label>
      <input matInput type="time" [(ngModel)]="startTime" name="startTime" required>
    </mat-form-field>

    <mat-form-field *ngIf="includeEndDate" appearance="outline">
      <mat-label>Data final</mat-label>
      <input
        matInput
        [matDatepicker]="endPicker"
        [(ngModel)]="endDate"
        name="endDate"
        [required]="includeEndDate">
      <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="includeEndDate && includeTime" appearance="outline">
      <mat-label>Hora final</mat-label>
      <input matInput type="time" [(ngModel)]="endTime" name="endTime" required>
    </mat-form-field>

    <mat-slide-toggle
      [(ngModel)]="includeEndDate"
      (ngModelChange)="onEndDateToggle($event)"
      name="includeEndDate">
      Data fim
    </mat-slide-toggle>

    <mat-slide-toggle
      [(ngModel)]="includeTime"
      (ngModelChange)="onTimeToggle($event)"
      name="includeTime">
      Incluir hora
    </mat-slide-toggle>

    <mat-slide-toggle [(ngModel)]="newTask.concluida" name="concluida">
      Marcar como concluída
    </mat-slide-toggle>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!taskForm.form.valid"
    (click)="onSubmit()">
    {{ isEditMode ? 'Atualizar' : 'Salvar' }}
  </button>
</mat-dialog-actions>